@use "./mixins";

.feedbacks__wrapper {
  margin-bottom: 60px;
}
.feedbacks__title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}
.feedback {
  border-left: 15px solid black;
  background-color: var(--color-lighter);
  color: white;
  border-radius: 10px;
  padding: 30px 36px;
  height: 100%;

  &__title {
    font-size: 27px;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 17px;
    line-height: 1.6;
  }
  &__outer {
    padding: 12px;
    height: 100%;
  }
}
.feedbacks__wrapper .swiper-wrapper .swiper-slide {
  height: unset;
}
.feedbacks__wrapper .swiper-wrapper {
  align-items: stretch;
}
