* {
  box-sizing: border-box;
  margin: 0;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --color-primary: rgb(42, 65, 121);
  --color-lighter: rgb(64, 101, 196);
}
body {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: var(--color-primary);
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
#root {
  max-width: 2500px;
  margin: 0 auto;
}
.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 120px;
}
.rule {
  margin: 0;
  height: 3px;
  border: 0;
  background-color: var(--color-primary);
}