@media screen and (max-width: 1450px) {
  .program__boxes {
    padding: 0;
  }
}
@media screen and (max-width: 1350px) {
  .program__box {
    padding: 25px 20px 110px;
  }
}
@media screen and (max-width: 1220px) {
  .container {
    padding: 0 60px;
  }
  .slide {
    padding: 30px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0.6;
    width: 30px;
    height: 32px;
    border-radius: 4px;
    &::after {
      font-size: 17px;
    }
  }
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
}
@media screen and (max-width: 1050px) {
  .header__nav {
    margin-right: auto;
    margin-left: 40px;
    column-gap: 24px;
  }
  .container {
    padding: 0 30px;
  }
  .about__boxes {
    row-gap: 20px;
  }
  .about__box {
    width: 48%;
  }
  .program__box {
    padding: 25px 20px 70px;
  }
  .member {
    width: 220px;
  }
}
@media screen and (max-width: 960px) {
  .program__boxes {
    row-gap: 15px;
  }
  .program__box {
    width: 49%;
    background-position: bottom -70px center;
    background-size: contain;
    &::before {
      opacity: 1;
    }
  }
  .program__content {
    opacity: 1;
    color: white;
  }
  .feedback {
    padding: 10px;
  }
  .feedback__outer {
    padding: 10px;
  }
  .feedback__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .feedback__rating {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .feedback__text {
    font-size: 15px;
  }
}
@media screen and (max-width: 900px) {
  .footer__right {
    column-gap: 60px;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 850px) {
  .container {
    padding: 0 25px;
  }
  .header {
    padding: 15px 0;
    &__logo-pic {
      width: 60px;
    }
  }
  .header__nav {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 23px;
    margin-left: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 280px;
    padding: 70px 40px;
    background-color: var(--color-primary);
    display: none;
  }
  .nav__link {
    color: white;
  }
  .header__socials {
    display: none;
  }
  .header__menu-button {
    display: inline-flex;
  }
  .header__menu-close {
    display: inline-block;
  }
  .show {
    display: flex;
    animation: show 0.2s linear forwards;
  }
  @keyframes show {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .hide {
    animation: hide 0.2s linear forwards;
  }
  @keyframes hide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .slide {
    padding: 0;
    text-align: center;
  }
  .slide__content {
    width: 100%;
  }
  .slide__image {
    width: 500px;
    margin: 0 auto;
    order: -1;
    margin-bottom: 20px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    opacity: 1;
  }
  .swiper-pagination-bullets {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .main__list {
    column-gap: 0;
    justify-content: space-between;
    row-gap: 10px;
  }
  .main__item {
    flex-grow: 0;
    width: 49%;
  }
  .about {
    &__title {
      font-size: 38px;
    }
    &__lead {
      font-size: 21px;
    }
    &__icon {
      font-size: 45px;
    }
    &__text {
      font-size: 17px;
    }
  }
}
@media screen and (max-width: 630px) {
  .footer__logo {
    margin-bottom: 40px;
  }
  .footer__right {
    width: 100%;
  }
}
@media screen and (max-width: 525px) {
  .program {
    padding: 30px 0;
    margin-bottom: 50px;
  }
  .program__lead {
    margin-bottom: 30px;
  }
  .program__boxes {
    top: 0;
  }
  .program__box {
    padding: 32px 24px;
    border-radius: 10px;
    width: 100%;
    background-image: none;
  }
}
@media screen and (max-width: 500px) {
  .about__title {
    font-size: 35px;
  }
  .about__lead {
    font-size: 19px;
  }
  .about__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 440px) {
  .main__item {
    width: 100%;
  }
  .footer__inner {
    justify-content: center;
    text-align: center;
  }
  .footer__social,
  .footer__navigation {
    align-items: center;
  }
  .footer__part {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer {
    padding: 40px 0 20px;
  }
}
