@media screen and (max-width: 1450px) {
  .program__boxes {
    padding: 0;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    padding: 0 80px;
  }
}
@media screen and (max-width: 1350px) {
  .program__box {
    padding: 25px 20px 110px;
  }
}
@media screen and (max-width: 1220px) {
  .container {
    padding: 0 60px;
  }
  .program__boxes {
    padding: 0 40px;
  }
  .slide {
    padding: 30px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    right: 0px;
    &::after {
      font-size: 16px;
    }
  }
  .swiper-button-prev {
    left: 0px;
  }
  .swiper-pagination-bullet {
    width: 50px;
    height: 8px;
    margin: 0 3px;
  }
  .footer__inner {
    padding: 40px 40px 50px 60px;
  }
  .footer__parts {
    column-gap: 60px;
  }
  .footer__part {
    max-width: 280px;
  }
}
@media screen and (max-width: 1150px) {
  .slife__title {
    font-size: 33px;
    margin-bottom: 24px;
  }
  .slife__categories,
  .slife__display {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
  .slife__flex.container {
    padding: 25px;
  }
  .slife__categories.container {
    padding: 40px 20px;
  }
  .slife__category {
    text-align: center;
  }
  .slife__category:nth-child(3) {
    border-top: 1px solid rgb(220, 220, 220)
  }
  .slife__category::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 100%;
    width: 1px;
    height: 80%;
    background-color: rgb(220, 220, 220);
  }
  .slife__category:nth-child(3)::after, .slife__category:nth-child(6)::after {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .header__nav {
    margin-right: auto;
    margin-left: 40px;
    column-gap: 24px;
  }
  .container {
    padding: 0 30px;
  }
  .program__box {
    padding: 25px 20px 70px;
  }
  .about__boxes {
    row-gap: 20px;
  }
  .about__box {
    width: 48%;
  }
  .member {
    width: 220px;
  }
  .footer__inner {
    padding: 40px 20px;
    padding-left: 30px;
  }
  .careers {
    &__content, &__image {
      width: 100%;
    }
    &__content {
      margin-bottom: 30px;
    }
    &__image {
      height: 400px;
      object-fit: cover;
    }
  }
}
@media screen and (max-width: 1024px) {
  .program__boxes {
    padding: 0 30px;
    
    .swiper-button-next,
    .swiper-button-prev {
      width: 40px;
      height: 40px;
      margin-top: -20px;
      
      &:after {
        font-size: 16px;
      }
    }
    
    .swiper-button-prev {
      left: 5px;
    }
    
    .swiper-button-next {
      right: 5px;
    }
  }
  
  .program__box {
    height: 320px;
    padding: 25px 15px 120px;
  }
  
  .program__box-title {
    font-size: 24px;
  }
  
  .program__badge {
    font-size: 15px;
    padding: 4px 25px;
  }
  
  .program__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 960px) {
  .footer__parts {
    margin-bottom: 10px;
  }
  .program__boxes {
    row-gap: 15px;
  }
  .program__box {
    width: 49%;
    background-position: bottom -70px center;
    background-size: contain;
    &::before {
      opacity: 1;
    }
  }
  .program__content {
    opacity: 1;
    color: white;
  }
  .feedback {
    padding: 10px;
  }
  .feedback__outer {
    padding: 10px;
  }
  .feedback__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .feedback__rating {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .feedback__text {
    font-size: 15px;
  }
  .footer__inner,
  .footer__map {
    width: 100%;
  }
  .footer__map {
    height: 400px;
  }
  .footer__text {
    &--desktop {
      display: none;
    }
    &--mobile {
      display: block;
    }
  }
}
@media screen and (max-width: 900px) {
  .footer__right {
    column-gap: 60px;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 850px) {
  .container {
    padding: 0 25px;
  }
  .header {
    padding: 15px 0;
    &__logo-pic {
      width: 60px;
    }
  }
  .header__nav {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 23px;
    margin-left: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 280px;
    padding: 70px 40px;
    background-color: var(--color-primary);
    display: none;
  }
  .nav__link {
    color: white;
  }
  .header__socials {
    display: none;
  }
  .header__menu-button {
    display: inline-flex;
  }
  .header__menu-close {
    display: inline-block;
  }
  .show {
    display: flex;
    animation: show 0.2s linear forwards;
  }
  @keyframes show {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .hide {
    animation: hide 0.2s linear forwards;
  }
  @keyframes hide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .slide {
    padding: 0;
    text-align: center;
  }
  .slide__content {
    width: 100%;
  }
  .slide__image {
    width: 500px;
    margin: 0 auto;
    order: -1;
    margin-bottom: 20px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 35px;
    height: 35px;
    margin-top: -17px;
    &::after {
      font-size: 14px;
    }
  }
  .swiper-pagination-bullets {
    display: none;
  }
  .slife__categories {
    grid-template-columns: repeat(2, 1fr);
  }
  .slife__category::after {
    display: none;
  }
  .slife__category:nth-child(odd)::after {
    display: block;
    content: "";
    position: absolute;
    top: 10%;
    left: 100%;
    width: 1px;
    height: 80%;
    background-color: rgb(220, 220, 220);
  }
}
@media screen and (max-width: 800px){
  .about {
    padding: 35px 0 70px;
  }
  .about__pics {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 6%;
  }
  .about__pic {
    width: 47%;
  }
}
@media screen and (max-width: 750px) {
  .main__list {
    column-gap: 0;
    justify-content: space-between;
    row-gap: 10px;
  }
  .main__item {
    flex-grow: 0;
    width: 49%;
  }
  .about {
    &__title {
      font-size: 38px;
    }
    &__lead {
      font-size: 21px;
    }
    &__icon {
      font-size: 45px;
    }
    &__text {
      font-size: 17px;
    }
  }
  .careers__image {
    height: 270px;
    box-shadow: 12px 12px var(--color-primary);
  }
}
@media screen and (max-width: 640px) {
  .program {
    padding: 50px 0 60px;
    margin-bottom: 60px;
    
    &__boxes {
      top: 40px;
      padding: 0 20px;
      margin-bottom: 40px;
      
      .swiper-button-next,
      .swiper-button-prev {
        display: none; // Hide navigation on mobile
      }
      
      .swiper-pagination {
        bottom: -40px;
        position: relative;
      }
    }
    
    &__box {
      height: 280px;
      padding: 20px 15px 100px;
    }
    
    &__box-title {
      font-size: 20px;
    }
    
    &__badge {
      font-size: 14px;
      padding: 3px 20px;
      margin-bottom: 15px;
    }
    
    &__text {
      font-size: 14px;
      padding-bottom: 10px;
    }
  }
}
@media screen and (max-width: 630px) {
  .footer__logo {
    margin-bottom: 40px;
  }
  .footer__right {
    width: 100%;
  }
  .slife__category {
    text-align: center;
    padding: 25px 15px 20px;
  }
  .slife__iconbox {
    padding: 15px 20px 5px;
    font-size: 50px;
  }
  .slife__image {
    height: 250px;
    margin-bottom: 20px;
  }
  .slife__text {
    margin-bottom: 20px;
  }
  .scroll-to-top {
    &__button {
      width: 60px;
      height: 60px;
    }
    svg {
      width: 26px;
      height: 26px;
    }
    bottom: 2.5rem;
    right: 1.4rem;
  }
}
@media screen and (max-width: 525px) {
  .program {
    padding: 30px 0;
    margin-bottom: 50px;
    
    &__lead {
      margin-bottom: 30px;
    }
    &__boxes {
      top: 0;
    }
    &__box {
      padding: 32px 24px;
      border-radius: 10px;
      width: 100%;
      background-image: none;
    }
  }
  .footer__parts {
    flex-direction: column;
    row-gap: 30px;
  }
}
@media screen and (max-width: 500px) {
  .about__title {
    font-size: 35px;
  }
  .about__lead {
    font-size: 19px;
  }
  .about__text {
    font-size: 16px;
  }
  .careers__image {
    height: 200px;
  }
}
@media screen and (max-width: 460px) {
  .slife__categories {
    display: block;
  }
  .slife__category {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 10px 5px;
  }
  .slife__category:nth-child(odd)::after {
    display: none;
  }
  .slife__iconbox {
    margin-bottom: 0;
    margin-right: 10px;
    padding: 7px 10px 3px;
    font-size: 32px;
  }
  .slife__categories.container {
    padding: 0;
    margin-bottom: 20px;
  }
  .slife__category-name {
    font-size: 16px;
    font-weight: 500;
  }
  .slife__image {
    height: 200px;
  }
}
@media screen and (max-width: 440px) {
  .footer__logo-wrap {
    text-align: center;
  }
  .main__item {
    width: 100%;
  }
  .footer__part {
    width: 100%;
  }
  .footer__text {
    text-align: center;
  }
}
