@use "./mixins";

.slide {
  padding: 64px;
  @include mixins.flex();
  &__content {
    width: 62%;
  }
  &__image {
    width: 35%;
    border-radius: 20px;
  }
  &__title {
    color: var(--color-primary);
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: 500;
  }
  &__lead {
    font-size: 21px;
    margin-bottom: 20px;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    column-gap: 20px;
    font-size: 17px;
    padding: 10px 20px;
    padding-left: 40px;
    border: 1px solid var(--color-primary);
    border-radius: 50px;
    transition: 0.2s all linear;
    &:hover {
      background-color: var(--color-primary);
      color: white;
    }
    &-icon {
      font-size: 30px;
    }
  }
  &__arrow {
    font-size: 32px;
  }
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  &::after {
    font-size: 16px;
  }
}
.swiper-pagination-bullet-active {
    background-color: var(--color-primary);
}
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
}