.team {
    margin-bottom: 60px;
    &__textbox {
        margin-bottom: 36px;
        text-align: center;
    }
    &__title {
        font-size: 32px;
        margin-bottom: 20px;
    }
    &__subtitle {
        margin-bottom: 27px;
    }
    &__more {
    font-size: 15px;
    padding: 6px 15px;
    display: inline-block;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    transition: 0.2s all linear;
    &:hover {
      background-color: var(--color-primary);
      color: white;
    }
  }
}
.members {
    padding: 20px;
    &__inner {
        display: flex;
        column-gap: 20px;
        overflow-x: auto;
        overflow-y: visible;
        &::-webkit-scrollbar {
           display: none;
        }
    }
}
.member {
    position: relative;
    flex-shrink: 0;
    width: 290px;
    padding-bottom: 60px;
    &__image {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 15px;
    }
    &__box {
        width: 90%;
        position: absolute;
        padding: 20px 30px;
        border-radius: 15px;
        bottom: 0;
        transform: translateY(-30px);
        background-color: rgba(255, 255, 255, 0.42);
        backdrop-filter: blur(1.5rem);
        box-shadow: 0px 5px 1.5rem rgba(194, 194, 194, 0.25), 0px 1.8518518209px 3.1481480598px rgba(0, 0, 0, 0.02), 0px 8.1481485367px 6.5185184479px rgba(0, 0, 0, 0.03), 0px 20px 13px rgba(0, 0, 0, 0.04);
    }
    &__name {
        margin-bottom: 7px;
    }
}